*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;

}

body{

    background:#111;

}

.container{

    display:flex;

    height:100vh;

}

/* Sidebar */

.sidebar{

    width:260px;

    background:#1b1b1b;

    color:white;

    padding:30px;

}

/* Main */

.main{

    flex:1;

    background:#202020;

}

/* Top Navigation */

.top-nav{

    height:80px;

    display:flex;

    align-items:center;

    padding-left:40px;

    background:#242424;

}

.top-nav ul{

    display:flex;

    list-style:none;

    gap:40px;

}

.top-nav li{

    color:white;

    cursor:pointer;

}

.active{

    color:#5B7FFF;

    font-weight:600;

}

/* Main Content */

.content{

    height:calc(100vh - 80px);

}
/* ===================== */
/* SIDEBAR */
/* ===================== */

.logo{

    margin-bottom:30px;

    color:white;

}

.search{

    margin-bottom:30px;

}

.search input{

    width:100%;

    padding:10px;

    border:none;

    border-radius:8px;

    background:#2b2b2b;

    color:white;

    outline:none;

}

.menu{

    list-style:none;

    margin-bottom:35px;

}

.menu li{

    color:#bfbfbf;

    padding:12px 10px;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;

}

.menu li:hover{

    background:#343434;

}

.selected{

    background:#343434;

    color:white !important;

}

.sidebar h4{

    color:white;

    margin:25px 0 15px;

}

.streamers{

    display:flex;

    gap:10px;

    margin-bottom:30px;

}

.avatar{

    width:45px;

    height:45px;

    border-radius:50%;

    object-fit:cover;

    cursor:pointer;

    transition:0.3s;

}

.avatar:hover{

    transform:scale(1.1);

}

.category{

    list-style:none;

}

.category li{

    color:#bfbfbf;

    padding:8px 0;

}
/* ===================== */
/* MAIN CONTENT */
/* ===================== */

.content{

    padding:30px;

}

/* Layout */

.video-section{

    display:grid;

    grid-template-columns:3fr 1fr;

    gap:25px;

}

/* Main Video */

.video-player{

    height:430px;

    background: linear-gradient(135deg,#4b6cb7,#182848);

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    border-radius:20px;

    position:relative;

    overflow:hidden;

    display:flex;

    justify-content:center;

    align-items:center;

}



/* Play Button */

.play-button{

    position:relative;

    z-index:2;



}

/* Live Badge */

.live{

    position:absolute;

    top:20px;

    right:20px;

    z-index:2;



}

/* Video Text */

.video-info{

    position:absolute;

    bottom:30px;

    left:30px;

    color:white;

    z-index:2;



}

/* Recommendation */

.recommendation{

    background:#2a2a2a;

    border-radius:20px;

    padding:20px;

}

.recommendation h3{

    color:white;

    margin-bottom:20px;

}

.video-card{

    background:#3b3b3b;

    color:white;

    padding:15px;

    margin-bottom:15px;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;

}

.video-card:hover{

    background:#505050;

}
.video-player::before{

    content:"";

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:100%;

    background:rgba(0,0,0,0.35);

}